<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../CSS/profile.css">
  <title>Perfil de <%= user.userName %></title>
</head>
<body>
  <div class="profile-container">
    <h1>Perfil de <%= user.userName %></h1>
    <form action="/update-profile" method="POST">
        <div class="profile-details">
            <% if (role === 'student') { %>
                <label>Names:
                    <div>
                        <input type="text" name = "names" placeholder="Names" required autofocus="" pattern=".{2,20}" title="Debe tener entre 2 y 20 caracteres.">
                    </div>
                </label>    
                <label>Last names:
                    <div>
                        <input type="text" name = "lastNames" placeholder="Latnames" required autofocus="" pattern=".{2,20}" title="Debe tener entre 2 y 20 caracteres.">
                    </div>
                </label>    
                <Label >ID type:
                    <div>
                        <select name="idType"  required autofocus="">
                        <option value="ID">ID</option>
                        <option value="Minor ID">Minor ID</option>
                        <option value="Foreign ID">Foreign ID</option>
                    </select>
                    </div>
                </Label>
                <label>ID:
                    <div>
                        <input type="text" name = "id" placeholder="ID" required autofocus="" pattern=".{8,12}" title="Debe tener entre 8 y 12 digitos.">
                    </div>
                </label>    
                <label>Email:
                    <div>
                        <input type="email" name = "email" placeholder="Email" required autofocus="">
                    </div>
                </label>    
                <label>Gender:
                    <div>
                        <select name="gender" required autofocus="">
                            <option value="Femenine">Femenine</option>
                            <option value="Masculine">Masculine</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </label>    
                <label>Date of birth:
                    <div>
                        <input type = "date" name = "dateOfBirth" placeholder = "Date of birth" required autofocus="">
                    </div>
                </label>    
                <Label>Address:
                    <div>
                        <input type="text" name= "address" placeholder="Address" required autofocus="" pattern=".{5,40}" title="Debe tener entre 5 y 40 caracteres.">
                    </div>
                </Label>
                <label>Cell number:
                    <div>
                        <input type="tel" name = "cellNumber" placeholder="Cell number" required autofocus="" pattern=".{10,10}" title="el numero de celular debe contener 10 digitos.">
                    </div>
                </label>   
                <label>Academic program:
                    <div>
                        <select name ="academicProgram" required autofocus="">
                            <option value="1 - Computer engineering">Computer engineering</option>
                            <option value="2 - Data science engineering">Data science engineering</option>
                            <option value="3 - Software engineering">Software engineering</option>
                            <option value="4 Systems engineering">Systems engineering</option> 
                        </select>
                    </div>
                </label>
                <label>Date of admission:
                    <div>
                        <select name="dateOfAdmission" required autofocus="">

                            <option value="2024-2">2024-2</option>
                            <option value="2024-1">2024-1</option>
                            <option value="2023-2">2023-2</option>
                            <option value="2023-1">2023-1</option>
                            <option value="2022-2">2022-2</option>
                            <option value="2022-1">2022-1</option>
                            <option value="2021-2">2021-2</option>
                            <option value="2021-1">2021-1</option>
                            <option value="2020-2">2020-2</option>
                            <option value="2020-1">2020-1</option> 
                        </select>
                    </div>
                </label>
                <label>Number of credits:
                    <div>
                    <input type="number" name = "numberOfCredits" placeholder="Number of credits" required autofocus="" min="0">
                    </div>
                </label>    
                <label>User name:
                    <div>
                    <input type="text" name = "userName" placeholder="User name" required autofocus="" pattern=".{5,20}" title="Debe tener entre 5 y 20 caracteres." >
                    </div>
                </label>
                <label>Password:
                    <div>
                    <input type="password" name = "password" placeholder="Password" required autofocus="" pattern=".{8,20}" title="Debe tener entre 8 y 20 caracteres.">
                    </div>
                </label> 
            
            <% } else if (role === 'teacher') { %>
              <label>Names:
                <p> <%= info.names %></p>
              </label>
              <label>Last Names:
                <p> <%= info.lastNames %></p>
              </label>
              <label>ID type:
                <p> <%= info.idType %></p>
              </label>
              <label>ID:
                <p> <%= info.id %></p>
              </label>
              <label>Email::
                <p> <%= info.email %></p>
              </label>
              <label>Gender:
                <p> <%= info.gender %></p>
              </label>
              <label>Date of birth:
                <p> <%= info.dateOfBirth %></p>
              </label>
              <label>Address:
                <p> <%= info.address %></p>
              </label>
              <label>Cell number:
                <p> <%= info.cellNumber %></p>
              </label>
              <label>Type of contract:
                <p> <%= info.typeOfContract %></p>
              </label>
              <button onclick="location.href='http://127.0.0.1:5500/HTML/landingTech.html'">Back</button>
              <button>Profile editor</button>
      
            <% } else if (role === 'manager') { %>
              <label>Names:
                <p> <%= info.names %></p>
              </label>
              <label>Last Names:
                <p> <%= info.lastNames %></p>
              </label>
              <label>ID type:
                <p> <%= info.idType %></p>
              </label>
              <label>ID:
                <p> <%= info.id %></p>
              </label>
              <label>Email::
                <p> <%= info.email %></p>
              </label>
              <label>Gender:
                <p> <%= info.gender %></p>
              </label>
              <label>Date of birth:
                <p> <%= info.dateOfBirth %></p>
              </label>
              <label>Address:
                <p> <%= info.address %></p>
              </label>
              <label>Cell number:
                <p> <%= info.cellNumber %></p>
              </label>
              <label>Office:
                <p> <%= info.office %></p>
              </label>
              <button onclick="location.href='http://127.0.0.1:5500/HTML/landingMan.html'">Back</button>
              <button>Profile editor</button>
      
            <% } else if (role === 'admin') { %>
              <label>Names:
                <p> <%= info.names %></p>
              </label>
              <label>Last Names:
                <p> <%= info.lastNames %></p>
              </label>
              <label>ID type:
                <p> <%= info.idType %></p>
              </label>
              <label>ID:
                <p> <%= info.id %></p>
              </label>
              <label>Email::
                <p> <%= info.email %></p>
              </label>
              <label>Gender:
                <p> <%= info.gender %></p>
              </label>
              <label>Date of birth:
                <p> <%= info.dateOfBirth %></p>
              </label>
              <label>Address:
                <p> <%= info.address %></p>
              </label>
              <label>Cell number:
                <p> <%= info.cellNumber %></p>
              </label>
              <button onclick="location.href='http://127.0.0.1:5500/HTML/landingAdmin.html'">Back</button>
              <button>Profile editor</button>
      
            <% } %>
          </div>
          <button type="button" onclick="location.href='http://127.0.0.1:5500/HTML/landing.html'">Back</button>
          <button type="submit">Save Changes</button>
    </form>    
    
</div>
  <script src="../Script/profile.js"></script>
</body>
</html>

<style>
  body {
    font-family: Arial, sans-serif; 
    background-color: #134e70;
    margin: 0;
    padding: 0;
  }
  
  .profile-container {
    width: 80%; 
    max-width: 600px; 
    margin: 50px auto; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
  }
  
  
  h1 {
    color:#134e70;
    text-align: center; 
    margin-bottom: 20px; 
  }

  label{
    color: #134e70;
  }
  
  
  .profile-details {
    margin-top: 20px; 
    column-count: 2; 
    column-gap: 20px;
  }
  
  
  .profile-details p {
    font-size: 18px;
    margin: 10px 0; 
    color: black; 
  }
  
  button {
    padding: 10px 15px; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    display: block; 
    margin: 20px auto; 
    column-count: 2;
    justify-content: end;
  }
  
  button:hover {
    background-color: #0056b3;
  }
</style>